/chave-primária-composta/chave-composta-idClass/nbproject/private/
/chave-primária-composta/chave-composta-idClass/build/
/muitos-para-muitos-com-atributos/venda-produtos/nbproject/private/
/muitos-para-muitos-com-atributos/venda-produtos/build/
/heranca/heranca/nbproject/private/
/heranca/heranca/build/
/named-query/named-query/nbproject/private/
/named-query/named-query/build/
/util/util/nbproject/private/
/util/util/dist/
/util/util/build/
/named-query/named-query/dist/
/Estudar para prova/um-pra-muitos/nbproject/private/
/indtroducao-JPA-main/nbproject/private/
/Estudar para prova/um-pra-muitos/dist/
/Estudar para prova/um-pra-muitos/build/
/Estudar para prova/exercicio1/JavaApplication1/nbproject/private/
/heranca/correcao=prova/nbproject/private/
/heranca/correcao=prova/build/
